
body {
    padding-top:200px;
    padding-left:0;
    transition:all 0.3s linear;
    overflow:hidden;
}

.section-box {
        background:transparent;

    position:relative;
    background:transparent;
    max-width:375px;
    min-height:325px;
    margin:auto;
    box-shadow: 1px 0px 1px #bbb;
    transition:none;
    -webkit-transition:none;
    -moz-transition:none;
}

@media screen and (max-height: 600px) {
    body {
        padding-top:0;
    }
}

/* nav bar at top */
@media screen and (min-width: 0px) {

    .section {
        top: 0px;
    }
}

.section, 
.section .section-header
{
    border:none;
    box-shadow:none;
    }

.section .section-header {

    background:none;
    background-color:transparent;
    font-size:1.3em;
    text-align:center;  
}

label {
    display:none;   
    color:#bbb;

}

button i {
    vertical-align:baseline;
}

.authenticating {
    color:#bbb;
}

.error {
    color:#dd2;
}

.error i,
.authenticating i {
    vertical-align:middle;
    margin:0 5px;
}

em.highlight {
    color:#22b;
}

.js-tooltip i {
    color:#999;

}

.input-group-addon, .input-group-btn {
    white-space:normal;
}

