<!--<div class="alert-box alert-box-{{alertState}}">
    <i class="fa fa-times pull-right hover" ng-click="HideAlert(); $event.stopPropagation();" title="Dismiss"></i>
    <span ng-switch="alertState">
        <span ng-switch-when="success">User record saved!</span>
        <span ng-switch-when="warning">meh</span>
    </span>

    <ul class="fa-ul validation-errors" ng-if="errors.length > 0">
        <li ng-repeat="error in errors">
            <i class="fa-li fa fa-exclamation-circle"></i>
            <span>{{error.Details}}</span>
        </li>
    </ul>
</div>-->