<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> WeeWorld : Application Distribution System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--[if lt IE 9]>
    <script type="text/javascript" charset="utf-8" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
    <![endif]-->

    <link href="content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="content/styles/app.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body ng-app="ads" ng-controller="appController">

    <nav ng-if="loggedIn()">
        <header>
            <div class="center-xy">ads</div>
        </header>
        <a href="#users"><i class="fa fa-2x fa-users"></i> <div>Users</div></a>
        <a href="#groups"><i class="fa fa-2x fa-th"></i> <div>Groups</div></a>
        <a href="#applications"><i class="fa fa-2x fa-cubes"></i> <div>Apps</div></a>
        <a href="#builds"><i class="fa fa-2x fa-code-fork"></i> <div>Builds</div></a>
        <a ng-click="Logout()"><i class="fa fa-2x fa-taxi"></i> <div>Logout</div></a>
    </nav>

    <div ng-if="loggedIn()" class="content-wrapper">
        <div id="content-view" ng-view></div>
    </div>

    {{token}}
    <div ng-if="!loggedIn()" ng-controller="LoginController" ng-include="'content/scripts/app/modules/authentication/views/login.html'"></div>



    <!-- load scripts (there must be an angular way of doing this lazily. if not, use requirejs )-->
    <script src="content/scripts/libs/angular/angular.min.js"></script>
    <script src="content/scripts/libs/angular/angular-route.min.js"></script>
    <script src="content/scripts/libs/angular/angular-animate.min.js"></script>

    <script src="content/scripts/app/app.js"></script>

    <script src="content/scripts/app/modules/authentication/module.js"></script>
    <script src="content/scripts/app/modules/authentication/controllers/loginController.js"></script>
    <script src="content/scripts/app/modules/authentication/services/authenticationService.js"></script>

    <script src="content/scripts/app/modules/users/module.js"></script>
    <script src="content/scripts/app/modules/users/controllers/usersController.js"></script>
    <script src="content/scripts/app/modules/users/services/userService.js"></script>
    <script src="content/scripts/app/modules/users/models/user.js"></script>
    <script src="content/scripts/app/modules/users/filters/isInGroupFilter.js"></script>
    <script src="content/scripts/app/modules/users/filters/isAdminFilter.js"></script>
                         
    <script src="content/scripts/app/modules/groups/module.js"></script>
    <script src="content/scripts/app/modules/groups/controllers/groupsController.js"></script>
    <script src="content/scripts/app/modules/groups/services/groupService.js"></script>
    <script src="content/scripts/app/modules/groups/models/group.js"></script>
    <script src="content/scripts/app/modules/groups/filters/hasUserFilter.js"></script>
    <script src="content/scripts/app/modules/groups/filters/hasApplicationFilter.js"></script>
                         
    <script src="content/scripts/app/modules/applications/module.js"></script>
    <script src="content/scripts/app/modules/applications/controllers/applicationsController.js"></script>
    <script src="content/scripts/app/modules/applications/services/applicationService.js"></script>
    <script src="content/scripts/app/modules/applications/models/application.js"></script>
    <script src="content/scripts/app/modules/applications/filters/isInGroupFilter.js"></script>
                         
    <script src="content/scripts/app/modules/builds/module.js"></script>
    <script src="content/scripts/app/modules/builds/controllers/buildsController.js"></script>
    <script src="content/scripts/app/modules/builds/services/buildService.js"></script>
    <script src="content/scripts/app/modules/builds/models/build.js"></script>
    <script src="content/scripts/app/modules/builds/filters/buildTypeFilter.js"></script>
    <script src="content/scripts/app/modules/builds/filters/submissionStateFilter.js"></script>
    <script src="content/scripts/app/modules/builds/filters/applicationNameFilter.js"></script>
                         
    <script src="content/scripts/app/common/directives/appHeader.js"></script>
    <script src="content/scripts/app/common/directives/tooltip.js"></script>

</body>
</html>