
<div class="section section-left">

    <div class="section-header">
        <div class="center-y">
            <i class="fa fa-fork"></i> Builds
        </div>
    </div>
    <div class="section-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="build in builds" ng-click="Load(build)">
                    <td>{{build.id}}</td>
                    <td>{{build.name}}</td>
                    <td>
                        <i class="fa fa-times close" ng-click="" title="Delete"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="section section-right" ng-hide="(obj == null)">

    <div class="section-header">
        <div class="center-y">
            <i class="fa fa-fork"></i> Create Build
            <i class="fa fa-times pull-right" ng-click="Close(); $event.stopPropagation();" title="Close"></i>
        </div>
    </div>

    <div class="section-content">

        <form role="form">

            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id" ng-model="obj.id" readonly="readonly">
            </div>

            <div class="form-group">
                <label for="name">Build Name</label>
                <input type="text" class="form-control" id="name" placeholder="Build Name" ng-model="obj.name">
            </div>
        </form>

        <div class="pull-right">
            <button type="submit" class="btn btn-link" ng-click="Close(); $event.stopPropagation();" title="Cancel">cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
            <!--<button ng-click="update(user)">SAVE</button>-->
        </div>
    </div>



</div>
